{% extends 'sailor/index.html' %}
{% load static %}

{% block title %}
<title>Contact</title>
{% endblock title %}

{% block context1 %}
<div class="inner-page">
            <div class="container">
                <div class="row">
                    <!-- FORM -->
                    <div class="col-md-8 col-sm-8">
						<div class="card pad-all mar-no ">
                            
                            <!-- /Alert Mandatory -->
                            <form method="post" class="space-md ">
                            {% csrf_token %}
                                <fieldset>
                                    <input type="hidden" name="action" value="contact_send">
                                    <div class="row">
                                        <div class="form-group">
                                            
                                            <div class="col-md-4">
                                                <label for="contact:email">E-mail Address *</label>
                                                <input required="" type="email" value="" class="form-control" name="sender" id="contact:email">
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <label for="contact:subject">Subject *</label>
                                                <input required="" type="text" value="" class="form-control" name="subject" id="contact:subject">
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label for="contact:message">Message *</label>
                                                <textarea required="" maxlength="10000" rows="6" class="form-control" name="message" ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-md-12 m-top-25">
                                        <button type="submit" class="btn btn-danger btn-raised btn-lg ripple-effect"><i class="fa fa-check"></i> SEND MESSAGE</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /FORM -->
                    </div>
                    <!-- INFO -->
                    <div class="col-md-4 col-sm-4">
                        <div class="pad-all card">
                            
                            <!-- /widget -->
                            <div class="widget">
                                <hr class="mBtm-50 mTop-30" data-symbol="Notifications">
                                <address>
										{% for message in messages %}
 								 <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
     								 <span aria-hidden="true">&times;</span>
   									 </button>
   									 {{ message }}
 								 </div>
								{% endfor %}
									</address>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock context1 %}